
*__pycache__*
*.venv
.env
data
test.md
*.py[cod]
/myenv
*.out
*.swp

raw_data
pheno-list.csv
pheno-list.json

generated-by-pheweb*/
preprocessing/requirements.txt
requirements_old.txt
run_process.sh

pheno_categories.csv
phenocode_labels.csv
*.log

pheno-list*
test*
src/
browser*

generated-by-pheweb.tar.gz

example_regenie.tar.gz
example_regenie/
pheweb_api/load/cffi/*.so

